*.class
*.pyc
*.swp
/.ant-targets-build.xml
/.cache
/.ropeproject
/.tmux-status
/build
/gh-pages
/installer/installc
/org.eclim/nailgun/config.log
/org.eclim/nailgun/config.status
/org.eclim/nailgun/Makefile
/org.eclim/nailgun/ng
/org.eclim/nailgun/ng.*
/patch/*
/todo.txt
/user.properties
.ctrlp
tags
