<html>
  <body>
    The eclim install completed successfully.<p>

    You can now start the eclimd server by
    #if($os.isFamily("windows"))
      double clicking the file:<br>
      $installer.context.getValue("eclipseHome.eclipseHome")/plugins/org.eclim_${installer.project.getProperty("eclim.version")}/bin/eclimd.bat
    #else
      executing the script:<br>
      $installer.context.getValue("eclipseHome.eclipseHome")/plugins/org.eclim_${installer.project.getProperty("eclim.version")}/bin/eclimd
    #end
    <p>
    For more information please see the
    <a href="http://eclim.sourceforge.net/eclimd.html">eclimd server documentation</a>.
    <p>
    You may also begin learning the eclim fundamentals from the
    <a href="http://eclim.sourceforge.net/vim/index.html">eclim documentation</a>.
  </body>
</html>
