<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (C) 2005 - 2009  Eric Van Dewoestine

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<plugin>
  <extension id="application_headless"
      point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.eclim.eclipse.EclimApplicationHeadless"/>
    </application>
  </extension>

  <extension point="org.eclipse.ui.views">
    <category id="org.eclim.category" name="Eclim"/>
    <view id="org.eclim.eclipse.headed.EclimdView"
        class="org.eclim.eclipse.headed.EclimdView"
        icon="resources/images/vim.gif"
        category="org.eclim.category"
        name="eclimd"
        restorable="true"
        allowMultiple="false">
      <description>
        Starts the eclim daemon and displays its logging output.
      </description>
    </view>
    <view id="org.eclim.eclipse.headed.VimpluginDebugView"
        allowMultiple="false"
        category="org.eclim.category"
        class="org.eclim.eclipse.headed.VimpluginDebugView"
        icon="resources/images/vim.gif"
        name="Vimplugin Debug Console">
      <description>
        Allows you to view debugging output from vimplugin.
      </description>
    </view>
  </extension>
</plugin>
