<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!--
    - File appender.
    -->
  <appender name="file" class="org.apache.log4j.FileAppender">
    <param name="file" value="${java.io.tmpdir}/install.log"/>
    <param name="append" value="false"/>
    <!--layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout-->
    <layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern" value="[%c] %m%n"/>
    </layout>
  </appender>

  <!--
    - Console appender.
    -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>
  </appender>

  <!-- logger for all ant messages -->
  <category name="ANT">
    <priority value="debug"/>
  </category>

  <category name="org.eclim">
    <priority value="debug"/>
  </category>

  <category name="org.formic">
    <priority value="debug"/>
  </category>

  <category name="org.apache.velocity">
    <priority value="warn"/>
  </category>

  <root>
    <priority value="info"/>
    <appender-ref ref="file"/>
    <!--
      - Don't use console appender if you plan to let users run installer in
      - console mode, as it will currupt the display.
      -->
    <appender-ref ref="console"/>
  </root>

</log4j:configuration>
