<?xml version="1.0" encoding="UTF-8"?>

<!--
 Copyright (c) 2005 - 2006

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE beans PUBLIC
  "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
 Author: Eric Van Dewoestine
-->
<beans>

  <import resource="command/spring-factory.xml"/>

  <bean id="propertyConfigurer"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <description>Configurer to replace ${..} properties.</description>
    <property name="systemPropertiesMode">
      <bean class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField">
          <value>org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
        </property>
      </bean>
    </property>
    <property name="location" value="plugin.properties"/>
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
  </bean>

  <bean id="messageSource"
      class="org.eclim.util.spring.ResourceBundleMessageSource">
    <description>Defines the resource bundle used for messages.</description>
    <property name="basenames">
      <list>
        <value>org/eclim/plugin/jdt/messages</value>
      </list>
    </property>
  </bean>

  <bean name="initializer" class="org.eclim.plugin.jdt.Initializer"
      init-method="initialize" destroy-method="shutdown">
    <description>Initializes java environment.</description>
  </bean>

  <bean class="org.eclim.project.ProjectNatureFactory"
      factory-method="addNatures">
    <constructor-arg>
      <value>
        java org.eclipse.jdt.core.javanature
      </value>
    </constructor-arg>
  </bean>

  <bean class="org.eclim.preference.PreferenceFactory"
      factory-method="addPreferences">
    <constructor-arg value="org.eclipse.jdt.core.javanature"/>
    <constructor-arg>
      <value>
        JDT org.eclim.java.logging.impl commons-logging (commons-logging|log4j|slf4j|jdk)
        JDT org.eclim.java.validation.ignore.warnings false (true|false)
        JDT/Javadoc org.eclim.java.doc.version \$Revision\$
        JDT/JUnit org.eclim.java.junit.command
        JDT/JUnit org.eclim.java.junit.output_dir
        JDT/JUnit org.eclim.java.junit.src_dir
      </value>
    </constructor-arg>
  </bean>

  <bean class="org.eclim.preference.PreferenceFactory"
      factory-method="addOptions">
    <constructor-arg value="org.eclipse.jdt.core.javanature"/>
    <constructor-arg>
      <value>
        JDT org.eclipse.jdt.core.compiler.source 1\.[2-5]
      </value>
    </constructor-arg>
  </bean>

  <bean class="org.eclim.preference.Preferences"
      factory-method="addOptionHandler">
    <constructor-arg value="org.eclipse.jdt"/>
    <constructor-arg>
      <bean class="org.eclim.plugin.jdt.preference.OptionHandler"/>
    </constructor-arg>
  </bean>

  <bean class="org.eclim.project.ProjectManagement"
      factory-method="addProjectManager">
    <constructor-arg value="org.eclipse.jdt.core.javanature"/>
    <constructor-arg>
      <bean class="org.eclim.plugin.jdt.project.JavaProjectManager"/>
    </constructor-arg>
  </bean>

  <bean name="ivy.xml"
      class="org.eclim.plugin.jdt.project.classpath.IvyParser">
    <description>
      Parser for ivy files used to merge build dependency file into the eclipse
      classpath.
    </description>
  </bean>

</beans>
