body {
  background-color: white;
  color: #444;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 150%;
  margin: 0;
  min-width: 660px;      /* (2x LC width) + RC width */
  padding: 0;
  text-align: center;
}

a {
  color: #cd6969;
  text-decoration: none;
}

a:hover {
  color: #2491CF;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.95em;
  letter-spacing: 0.015em;
  padding: 5px;
}

td.linenos pre {
  background-color: transparent;
  border: 0;
  color: #aaa;
  padding: 0;
}

table.highlighttable {
  margin: 0;
}

table.highlighttable td {
  padding: 0;
}

cite, code, tt {
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.95em;
  font-style: normal;
  letter-spacing: 0.01em;
}

hr {
  border: 1px solid #abc;
  margin: 0;
}

tt {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  color: #333;
}

tt.descname {
  background-color: transparent;
  border: 0;
  font-size: 1.2em;
  font-weight: bold;
}

tt.descclassname {
  background-color: transparent;
  border: 0;
}

tt.xref {
  background-color: transparent;
  border: 0;
  font-weight: bold;
}

a tt {
  background-color: transparent;
  border: 0;
  color: #cd6969;
  font-weight: bold;
}

a tt:hover {
  color: #2491CF;
}

dl {
  margin-bottom: 15px;
}

dd p {
  margin-top: 0px;
}

dd ul, dd table {
  margin: 0 0 10px 0;
  padding: 0 0 0 25px;
}

dd {
  margin: 0 0 10px 10px;
}

.refcount {
  color: #060;
}

dt:target,
.highlight {
  background-color: #fbe54e;
}

dl.glossary dt {
  font-size: 1.1em;
  font-weight: bold;
}

pre {
  line-height: 120%;
}

pre a {
  color: inherit;
  text-decoration: underline;
}

h1 {
  color: #555;
  font-size: 1.5em;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.2em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #555!important;
  margin: 0;
  padding: 0;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
  color: #aaa!important;
  display: none;
  margin: 0;
  padding: 0;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
  display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
  background-color: #eee;
  color: #777;
}

table {
  border-collapse: collapse;
  margin: 0;
}

table td, table th {
  padding: 0;
}

div.clearer {
  clear: both;
}

div.body {
  margin: 0;
  padding: 5px 20px 50px 0;
  *padding-top: 20px;
  text-align: left;
}

div.body a {
  text-decoration: underline;
}

#container {
  padding-left: 220px;   /* LC width */
  padding-right: 220px;  /* RC width */
}

#container .column {
  float: left;
  position: relative;
}

#center {
  width: 100%;
}

#left {
  margin-left: -100%;
  right: 220px;          /* LC width */
  width: 220px;          /* LC width */
}

#right {
  margin-right: -220px;  /* RC width */
  width: 220px;          /* RC width */
}

/*** IE6 Fix ***/
* html .body { height: 1%;}
* html .sidebar { height: 1%;}
* html #left {
  left: 220px;           /* RC width */
}

div.sidebar {
  text-align: left;
  padding: 20px 5px 50px 5px;
}

div.sidebar h4, div.sidebar h3 {
  background-color: #e9e9d0;
  border: 1px solid #555;
  color: #555;
  font-size: 0.9em;
  margin: 0 0 10px 0;
  padding: 0 0 0 5px;
}

div.sidebar .sidebaritem {
  padding: 0 0 10px 0;
}

div.sidebar ul {
  line-height: 130%;
  list-style: none;
  margin: 0 0 0;
  padding: 0;
}

div.sidebar ul li {
  padding-left: 15px;
}

/*#left div.sidebar ul li a.branch:hover {
  color: #444;
}*/

div.sidebar ul li {
  background: transparent url('bullet.gif') no-repeat 5px 7px;
}

#left div.sidebar ul li.branch {
  background: none;
}

#left div.sidebar ul li a.closed,
#left div.sidebar ul li a.open {
  cursor: pointer;
  font-weight: bold;
  margin-left: -15px;
  *margin-left: -16px;
  padding-left: 15px;
}

div.sidebar ul li {
  padding-top: 2px;
  padding-bottom: 2px;
}

#left div.sidebar ul li a.closed {
  background: transparent url('closed.gif') no-repeat 5px 5px;
}

#left div.sidebar ul li a.open {
  background: transparent url('open.gif') no-repeat 5px 7px;
}

div.credit {
  float: left;
  margin: 0 0 0 5px;
}

div.credit a {
  padding: 0 5px 0 0;
}

div.related {
  clear: both;
}

div.related h3 {
  display: none;
}

div.related ul {
  background-color: #e9e9d0;
  /*background-image: url(navigation.png);*/
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 2em;
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

div.related ul li {
  float: left;
  height: 2em;
  margin: 0;
  padding: 0;
}

div.related ul li.right {
  float: right;
  margin-right: 5px;
}

div.related ul li a {
  color: #cd6969;
  line-height: 1.75em;
  margin: 0;
  padding: 0 5px 0 5px;
}

div.related ul li a:hover {
  color: #3CA8E7;
}

div.footer {
  clear: both;
  color: #666;
  font-size: 0.8em;
  padding: 3px 8px 3px 0;
  text-align: right;
}

div.footer a {
  color: #86989B;
  text-decoration: underline;
}

div.pagination {
  border-top: 1px solid #555;
  margin: 0;
  padding: 0;
  text-align: center;
}

p.noshell em {
  color: #3ca8e7;
  font-style: normal;
  text-decoration: underline;
}

p.noshell:hover, div.nutshell {
  background-color: white;
}

p.noshell {
  cursor: pointer;
}

div.sidebar ul.toc {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.sidebar ul.toc li {
  line-height: 130%;
  font-size: 0.9em;
  margin: 0;
}

div.sidebar ul.toc li p {
  margin: 0;
  padding: 0;
}

div.sidebar ul.toc ul {
  margin: 0;
  padding: 0;
}

div.sidebar ul.toc ul li {
  padding: 0;
}

div.section {
  padding: 0 0 0 15px;
}

div.section h2,
div.section h3,
div.section h4 {
  padding: 2px;
  background-color: #e9e9d0;
}

div.section h2 {
  padding: 5px;
  font-size: 1.25em;
}

div.admonition, div.warning {
  background-color: #e9e9d0;
  font-size: 0.9em;
  margin: 0;
}

div.admonition p, div.warning p {
  margin: 0;
  padding: 0 0 0 5px;
}

div.admonition pre, div.warning pre {
  margin: 0;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
  color: white;
  font-weight: bold;
  margin: 0;
}

div.admonition {
  border: 1px solid #86989b;
}

div.admonition p.admonition-title {
  background-color: #6f92d9;
  border-bottom: 1px solid #86989b;
}

div.warning {
  border: 1px solid #940000;
}

div.warning p.admonition-title {
  background-color: #d96f76;
  border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol, div.admonition dl
div.warning ul, div.warning ol, div.warning dl {
  margin: 0 0 0 15px;
}

div.versioninfo {
  background-color: #DDEAF0;
  border: 1px solid #ccc;
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 0;
  padding: 8px;
}


a.headerlink {
  color: #c60f0f!important;
  font-size: 1em;
  margin-left: 6px;
  padding: 0 4px 0 4px;
  text-decoration: none!important;
  visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}

a.headerlink:hover {
  background-color: #ccc;
  color: white!important;
}

table.indextable td {
  text-align: left;
  vertical-align: top;
}

table.indextable dl, table.indextable dd {
  margin-bottom: 0;
  margin-top: 0;
}

table.indextable tr.pcap {
  height: 10px;
}

table.indextable tr.cap {
  background-color: #f2f2f2;
  margin-top: 10px;
}

img.toggler {
  cursor: pointer;
  margin-right: 3px;
  margin-top: 3px;
}

form.pfform {
  margin: 10px 0 20px 0;
}

table.contentstable {
  width: 90%;
}

table.contentstable p.biglink {
  line-height: 150%;
}

a.biglink {
  font-size: 1.3em;
}

span.linkdescr {
  font-size: 90%;
  font-style: italic;
  padding-top: 5px;
}

ul.search {
  margin: 10px 0 0 20px;
  padding: 0;
}

ul.search li {
  background-image: url(file.png);
  background-repeat: no-repeat;
  background-position: 0 7px;
  padding: 5px 0 5px 20px;
}

ul.search li a {
  font-weight: bold;
}

ul.search li div.context {
  color: #888;
  margin: 2px 0 0 30px;
  text-align: left;
}

ul.keywordmatches li.goodmatch a {
  font-weight: bold;
}
