<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
  Copyright (C) 2005 - 2020  Eric Van Dewoestine

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!--
    - A time/date based rolling appender
    -->
  <appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="${eclimd.workspace}/eclimd.log"/>
    <param name="append" value="true"/>
    <param name="maxFileSize" value="2MB"/>
    <param name="maxBackupIndex" value="25"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>
  </appender>

  <!--
    - Console appender.
    -->
  <appender name="console" class="org.eclim.logging.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>
  </appender>

  <!--
    - Eclimd view appender.
    -->
  <appender name="view" class="org.eclim.logging.log4j.ViewAppender">
    <param name="View" value="org.eclim.eclipse.ui.EclimdView"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>
  </appender>

  <logger name="org.apache.commons.vfs">
    <level value="warn"/>
  </logger>

  <logger name="org.eclim">
    <level value="info"/>
  </logger>

  <root>
    <priority value="info"/>
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
    <appender-ref ref="view"/>
  </root>

</log4j:configuration>
