<?xml version="1.0" encoding="UTF-8"?>

<!--
 Copyright (c) 2004 - 2005

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE beans PUBLIC
  "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
 Author: Eric Van Dewoestine
-->
<beans>

  <bean id="propertyConfigurer"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <description>Configurer to replace ${..} properties.</description>
    <property name="systemPropertiesMode">
      <bean class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField">
          <value>org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
        </property>
      </bean>
    </property>
    <property name="location" value="org/eclim/eclim.properties"/>
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
  </bean>

  <bean id="messageSource"
      class="org.eclim.util.spring.ResourceBundleMessageSource">
    <description>Defines the resource bundle used for messages.</description>
    <property name="basename">
      <value>org/eclim/messages</value>
    </property>
  </bean>

</beans>
