<?xml version="1.0" encoding="UTF-8"?>

<!--
 Copyright (c) 2004 - 2005

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE beans PUBLIC
  "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
 Author: Eric Van Dewoestine
-->
<beans>
  <bean id="propertyConfigurer"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <description>Configurer to replace ${..} properties.</description>
    <property name="systemPropertiesMode">
      <bean class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField">
          <value>org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
        </property>
      </bean>
    </property>
    <property name="location" value="plugin.properties"/>
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
  </bean>

  <bean id="messageSource"
      class="org.eclim.util.spring.ResourceBundleMessageSource">
    <description>Defines the resource bundle used for messages.</description>
    <property name="basenames">
      <list>
        <value>org/eclim/messages</value>
      </list>
    </property>
  </bean>

  <bean class="org.eclim.preference.PreferenceFactory"
      factory-method="addPreferences">
    <constructor-arg>
      <value>
        General org.eclim.user.name
        General org.eclim.user.email
        General/Project org.eclim.project.version 1.0
        General/Project org.eclim.project.copyright
      </value>
    </constructor-arg>
  </bean>

  <bean id="com.martiansoftware.nailgun.NGServer"
      class="com.martiansoftware.nailgun.NGServer">
    <description>Nailgun server instance.</description>
    <constructor-arg><null/></constructor-arg>
    <constructor-arg type="int">
      <value>${nailgun.server.port}</value>
    </constructor-arg>
  </bean>

  <bean name="ping" class="org.eclim.command.admin.PingCommand">
    <description>Handles client ping request.</description>
  </bean>

  <bean name="shutdown" class="org.eclim.command.admin.ShutdownCommand">
    <description>Handles client shutdown request.</description>
  </bean>

  <bean name="read_file"
      class="org.eclim.command.util.ReadFileCommand">
    <description>Reads a file from any commons vfs support path.</description>
  </bean>

  <bean name="xml_validate" class="org.eclim.command.xml.validate.ValidateCommand">
    <description>Handles client request to validate an xml file.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.filter.ErrorFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="project_create" class="org.eclim.command.project.ProjectCreateCommand">
    <description>Handles client project creation request.</description>
  </bean>

  <bean name="project_delete" class="org.eclim.command.project.ProjectDeleteCommand">
    <description>Handles client project deletion request.</description>
  </bean>

  <bean name="project_update" class="org.eclim.command.project.ProjectUpdateCommand">
    <description>Handles client project update request.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.filter.ErrorFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="project_info" class="org.eclim.command.project.ProjectInfoCommand">
    <description>Handles client project info request.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.project.ProjectInfoFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="settings_update" class="org.eclim.command.admin.SettingsUpdateCommand">
    <description>Handles settings update request.</description>
  </bean>

  <bean name="settings" class="org.eclim.command.admin.SettingsCommand">
    <description>Handles retrieval of global settings.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.admin.SettingsFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="taglist" class="org.eclim.command.taglist.TaglistCommand">
    <description>Handles generating a taglist for a given file.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.taglist.TaglistFilter"/>
        </entry>
      </map>
    </property>
  </bean>

</beans>
