<?xml version="1.0" encoding="UTF-8"?>
<!--
 Author: Eric Van Dewoestine
-->

<!DOCTYPE beans PUBLIC
  "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean name="ant_complete"
      class="org.eclim.plugin.ant.command.complete.CodeCompleteCommand">
    <description>Handles client request to perform ant code completion.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.plugin.ant.command.complete.CodeCompleteFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="ant_validate"
      class="org.eclim.plugin.ant.command.validate.ValidateCommand">
    <description>Handles client request to validate an ant file.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.filter.ErrorFilter"/>
        </entry>
      </map>
    </property>
  </bean>

</beans>
