#wikicmds {
  float:right; white-space:nowrap;
  font-family:Verdana,sans-serif; font-size:80%;
}

#menu .menupage {
  background-image: none;
}

#menu .menupage ul {
  list-style-type: none;
  padding-left: 1.5em;
  margin: 0;
}

#menu .menupage ul li {
  margin-top: 3px;
}
