<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>$WikiTitle | {$Group} / {$Title} $ActionTitle</title>
    <link type="text/css" href="$SkinDirUrl/forrest_pelt.css" rel="stylesheet"/>
    <link type="text/css" href="../skin/basic.css" rel="stylesheet">
    <link media="screen" type="text/css" href="../skin/screen.css" rel="stylesheet">
    <link media="print" type="text/css" href="../skin/print.css" rel="stylesheet">
    <link type="text/css" href="../skin/profile.css" rel="stylesheet">
    <link type="text/css" href="$SkinDirUrl/forrest_pelt.css" rel="stylesheet"/>
    <!--HeaderText-->
  </head>
  <body onload="init()">
<!--PageHeaderFmt-->
    <div id="top">
      <div class="breadtrail">
        <a href="http://sourceforge.net">sourceforge</a> &gt; <a href="http://eclim.sourceforge.net">eclim</a> &gt; <a href='{$ScriptUrl}/Main.HomePage'>wiki</a>
      </div>
      <div class="header">
        <div class="projectlogoA1">
          <a href="http://eclim.sourceforge.net/"><img class="logoImage" alt="" src="../images/project.png" title="Eclipse integration for Vim"></a>
        </div>
        <div class="searchbox">
          <form action="http://www.google.com/search" method="get" class="roundtopsmall">
            <input value="http://eclim.sourceforge.net" name="sitesearch" type="hidden">
            <input onFocus="getBlank (this, 'Search the site with google');" size="25" name="q" id="query" type="text" value="Search the site with google">&nbsp;
            <input attr="value" name="Search" value="Search" type="submit">
          </form>
        </div>
        <ul id="tabs">
          <li>
            <a class="base-not-selected" rel="nofollow" href='/'>Home</a>
          </li>
          <li>
            <a class="base-not-selected" rel="nofollow" href='/eclimd.html'>Eclimd Server</a>
          </li>
          <li>
            <a class="base-not-selected" rel="nofollow" href='/vim/index.html'>Vim Integration</a>
          </li>
          <li class="current">
            <a class="base-not-selected" href='/wiki/pmwiki.php'>Eclim Wiki</a>
          </li>
        </ul>
      </div>
    </div>
<!--/PageHeaderFmt-->
    <div id="main">
      <div id="publishedStrip">
        <div id="level2tabs"></div>
        $[Page last modified on {$LastModified}]
      </div>
      <div class="breadtrail">

        &nbsp;
      </div>
<!--PageLeftFmt-->
      <div id="menu">
        <div class="menupage">
          <!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
        </div>
        <div id="credit"></div>
        <div id="roundbottom">
          <img style="display: none" class="corner" height="15" width="15" alt="" src="../skin/images/rc-b-l-15-1body-2menu-3menu.png"></div>
        <div id="credit2">
          <a href="http://sourceforge.net"><img border="0" title="Sourceforge.net Logo" alt="Sourceforge.net Logo - logo" src="http://sourceforge.net/sflogo.php?group_id=145869&type=1" style="width: 88px;height: 31px;"></a>
        </div>
      </div>
<!--/PageLeftFmt-->
      <div id="content">
<!--PageActionFmt-->
        <div id='wikicmds'><!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions--></div>
<!--PageTitleFmt-->
        <p><h1 class='pagetitle'>{$Title}</h1></p>
<!--PageText-->
      </div>
      <div class="clearboth">&nbsp;</div>
    </div>
<!--PageFooterFmt-->
    <div id="footer">
      <div class="lastmodified">
        $[Page last modified on {$LastModified}]
      </div>
      <div class="copyright">
        <a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
        <a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
        <a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
        <a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> -
        <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a></div>
      </div>
      <div id="logos"></div>
    </div>
<!--/PageFooterFmt-->
  </body>
</html>
