/**
#if ($overrides || $implements)
 * {@inheritDoc}
 * @see ${superType}#${methodSignature}
#else
#if ($boolean)
 * Determines if this instance is ${property}.
#else
 * Gets the ${property} for this instance.
#end
 *
#if ($array)
 * @param index The index to get.
#end
 * @return The ${property}.
#end
 */
#if ($org_eclipse_jdt_core_compiler_source == "1.5" && $overrides)
@Override
#end
public $propertyType $name (#if($array)int index#end)#if($interface);#end

#if(!$interface)
{
#if($array)
	return this.${property}[index];
#else
	return this.$property;
#end
}
#end
