/**
 * Tests '$methodName'.
 *
#foreach ($methodSignature in $methodSignatures)
 * @see ${superType}#${methodSignature}
#end
 */
public void $name ()
	throws Exception
{
#if ($methodBody)
	$methodBody
#end
}
