/**
#if (($overrides || $implements) && !$delegate && !$constructor)
 * {@inheritDoc}
#end
#if ($overrides || $implements)
 * @see ${superType}#${methodSignature}
#end
 */
#if ($org_eclipse_jdt_core_compiler_source == "1.5" && $overrides && !$constructor)
@Override
#end
#if($modifier)$modifier #end#if($return)$return #end$name ($!params)#if($interface && !$throws);#end
#if ($throws)

	throws $throws#if($interface);#end
#end

#if(!$interface)
{
#if ($methodBody)
	$methodBody
#end
}
#end
