<?xml version="1.0" encoding="UTF-8"?>
<!--
 Author: Eric Van Dewoestine
-->

<!DOCTYPE beans PUBLIC
  "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean name="maven_dependency_search"
      class="org.eclim.plugin.maven.command.dependency.SearchCommand">
    <description>Handles client request to perform a dependency search.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.plugin.maven.command.dependency.SearchFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="maven_dependency_add"
      class="org.eclim.plugin.maven.command.dependency.AddCommand">
    <description>Handles client request to add a new dependency.</description>
  </bean>

</beans>
