<?xml version="1.0" encoding="UTF-8"?>
<!--
 Author: Eric Van Dewoestine
-->

<!DOCTYPE beans PUBLIC
  "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean name="php_src_update"
      class="org.eclim.plugin.pdt.command.src.SrcUpdateCommand">
    <description>
      Handles updating the supplied src file and optionally validating it.
    </description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.filter.ErrorFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="php_complete"
      class="org.eclim.plugin.pdt.command.complete.CodeCompleteCommand">
    <description>
      Handles requests for code completion.
    </description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.complete.CodeCompleteFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="php_find_definition" class="org.eclim.plugin.pdt.command.search.FindDefinitionCommand">
    <description>Handles client requests to find the element definition.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.filter.PositionFilter"/>
        </entry>
      </map>
    </property>
  </bean>

  <bean name="php_search" class="org.eclim.plugin.pdt.command.search.SearchCommand">
    <description>Handles client search requests.</description>
    <property name="filters">
      <map>
        <entry key="vim">
          <bean class="org.eclim.command.filter.PositionFilter"/>
        </entry>
      </map>
    </property>
  </bean>

</beans>
